<!DOCTYPE html>
<html lang="en" ng-app="cookiesExample">
<head>
  <meta charset="UTF-8">
  <title>Marionette</title>
  <link rel="icon" href="img/favicon.png" type="" />
</head>
<body>
  
  <div ng-controller="ExampleController">
    <input type="text" ng-model="one" class="">
    <br>
    <input type="text" ng-model="two" class="">
    <br>
    <my-dir favorite="myfunc()"></my-dir>  
  </div>

  <script src="js/script.js"></script>
  <script src="js/libs/angularjs.js"></script>
  <script src="js/libs/angularjs-cookies.js"></script>
  <script src="js/angularScript.js"></script>
</body>
</html>